# Server
PORT=3000

# Database
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=node_app
DB_DIALECT=mysql

# JWT
JWT_SECRET=your_jwt_secret_here

# Mailer
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_email_app_password
