PORT=3000
DB_USER=root
DB_PASS=
DB_NAME=node_app
DB_HOST=127.0.0.1
DB_DIALECT=mysql
JWT_SECRET=changeme
ADMIN_EMAIL=admin@example.com
TZ=Asia/Ho_Chi_Minh
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
